.barra_lateral {
    width: 250px;
    padding: 40px 20px;
    background-color: var(--color-fondo);
    border-right: 1px solid var(--color-borde);
    height: 100vh;
}

.titulo_barra_lateral {
    font-size: 12px;
    color: var(--color-texto);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding-left: 15px;
}

.categorias-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categorias-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
